<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cdnlines.html' %}
    <title>Home | Students Data</title>
    <style media="screen">
        table{
            margin-top: 50px;
            
        }
    </style> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Student Details</h1>
                <a href="{% url 'adding_data' %}" class="btn btn-primary" style="float:right">Add New Student</a>
                {% if students %}
                    <table class="table table-bordered">
                        <thead class="bg-info text-white">
                            <tr class="text-center">
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Course</th>
                                <th>Fee</th>
                                <th>Assign.1</th>
                                <th>Assign.2</th>
                                <th>Assign.3</th>
                                <th>Assign.4</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-dark text-white">
                            {% for student in students %}
                                <tr class="text-center">
                                    <td>{{student.first_name | lower|capfirst}}</td>
                                    <td>{{student.last_name | lower}}</td>
                                    <td>{{student.course_name}}</td>
                                    <td>{{student.fee}}</td>
                                    <td>{{student.assignment1}}</td>
                                    <td>{{student.assignment2}}</td>
                                    <td>{{student.assignment3}}</td>
                                    <td>{{student.assignment4}}</td>
                                    <td>
                                        <a href="{% url 'update_data' student.id %}" class="btn btn-outline-success btn-sm">Update</a>
                                        
                                        <a href="{% url 'delete_data' student.id %}" onclick="return confirm('Are you sure you want to Delete?')" class="btn btn-outline-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
                {% else %}
                <h3 class="text:center">Student Data Not Available</h3>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>